<!DOCTYPE html>
<html ng-app="GloCalc" lang="en">

<head>
    <title>GloCalc</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--UI Bootstrap-->
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <script src="app/app.js"></script>
    <script src="app/main/mainCtrl.js"></script>
    <script src="app/main/mainSrv.js"></script>
    <script src="app/signUp/signUpCtrl.js"></script>
    <!-- <script src="users/usersCtrl.js"></script>
    <script src="users/usersServiceConstractor.js"></script>
    <script src="users/usersCtrl.js"></script>
    <script src="users/usersCtrl.js"></script>
    <script src="users/usersCtrl.js"></script> -->
</head>
<!-- class="navbar navbar-inverse -->

<body>
    <nav class="navbar navbar-inverse">

        <!-- container-fluid -->
        <div class="container">
            <div class="navbar-collapse collapse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                <a class="navbar-brand" href="#">GloCalc Ltd.</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav ">
                    <li nav navbar-nav>
                        <a href="#">Welcome</a>
                    </li>
                    <li>
                        <a href="#!/home">About Us</a>
                    </li>
                    <li>
                        <a href="#!/main">Daily Treatment</a>
                    </li>
                    <li>
                        <a href="#">Insulin Calc</a>
                    </li>
                    

                 <li ng-repeat="menu in menus" ng-class="{dropdown: menu.menus}">
                        <a href="#"  ng-class="{'dropdown-toggle': menu.menus}" data-toggle="dropdown"> information<span class="caret"></span></a>

                     <ul ng-if="menu.menus" class="dropdown-menu">
                         <li ng-repeat="submenu in menu.menus">
                              <a href="#">Food products and dishes</a>
                         </li>
                      
                            <li ng-repeat="submenu in menu.menus">
                                <a href="#">How Do We Calculate Insulin Dose?</a>
                         </li>
                     </ul> 
                  </li>

                    <li>
                        <a href="#!/signUp"> Update parameters</a>
                    </li>
                    
                </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-info btn-lg" data-toggle="modal" href="#!/signUp">
                             <span class="glyphicon glyphicon-log-in"></span>Signup</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    </nav>

    <div class="container">
        <ng-view></ng-view>
    </div>
</body>

</html>