<h4 class="modal-title">How much do you need to inject</h4>
main.html page
<div class="modal-body">
  <form action="/action_page.php">
    <div class="form-group">
      <label for="ins">ins in the blod:</label>
      <input type="number" class="form-control" ng-model="ins" id="ins">
    </div>
    <div class="form-group">
      <label for="cc">how much pchmemea in the meal:</label>
      <input type="number" class="form-control" ng-model="cc" id="cc">
    </div>
    <button type="button" class="btn btn-default" ng-click="showDosege()">calculate</button>
  </form>
</div>
<h2>{{"You should Inject: " + insUnits}}</h2>



<!--
<p>{{dosegeUser.cc}} {{dosegeUser.ins}}</p>
 <br>
<p>{{ dosegeUser.calc()}} </P>
-->
<!-- placeholder="Enter the amount of cc in the blod" -->

<!-- <p>{{dosegeUser.cc dosegeUser.inse}}</p> -->